/* stylelint-disable property-no-vendor-prefix */

/* Defining variables  */
:root {

  --bg-img: url('./images/background2.png');

  --main-title-color: white;

  --sub-title-color: white;

  --text-color: white;

  --main-font: oswald , sans-serif;

  --card-bg-blur: blur(5.5px);

  --card-bg-color: rgba(151, 150, 150, 0.35);

  --card-border: 1px solid rgba(255, 255, 255, 0.18);

  --card-border-radius: 16px;

  --card-box-shadow: 0 8px 32px 0 rgba(12, 13, 29, 0.699);

  --text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px , rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background-image: var(--bg-img);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: var(--main-title-color);
  font-family: var(--main-font);
  font-size: 69px;
  padding: 50px 50px 0;
  text-align: center;
}

h2 {
  color: var(--sub-title-color);
  font-family: var(--main-font);
  font-size: 34px;
  font-weight: 400;
  padding: 20px 50px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.solar-system-items {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.planet-name {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  text-align: center;
}

.planet-image {
  width: 150px;
}

.missions-items {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 35px;
}

.mission-card {
  -webkit-backdrop-filter: var(--card-bg-blur);
  backdrop-filter: var(--card-bg-blur);
  background: var(--card-bg-color);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  padding: 15px;
  width: 280px;
}

.mission-card-header {
  border-bottom: var(--card-border);
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: var(--text-shadow);
}

.mission-card-body {
  font-weight: 300;
}
